/*Estilo geral da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
/*Estilo geral*/
*{
      box-sizing: border-box;
}
body{
      margin: 0;
      padding: 0;
      background-color: #EEEEEE;
      font-family: 'Montserrat',
      sans-serif;
}
/*Estilo do header*/
.navbar{
      margin: 0;
      padding: 0;
      
}

.container-fluid {
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(187, 210, 192, 1) 100%);
      height: 140px;

      
}
.logo{
      width: 150px;
      margin: 0 0 0 100px ;
      padding: 0;
}
/*          text enfase louro       */
.box-louro{
      height: 20vh;
      
}
.container-louro{
      width: 100%;
      margin: 0;
      padding: 0;
}
.louro-text{
      margin: 26px 0 0 0!important;
      line-height: 25px;
      margin: 0;
      padding: 0;
      height: 40vh;
     
     
}
.louro-left,
.louro-right{
      width: 20%;
     height: 100%;

     margin: 0;
     padding: 0;
      
}
.louro-left img{
      width: 70%;
      
}
.louro-right img {
      width: 70%;
      
}

/* Box Principal */
.box-start{
     
      width: 100%;
      height: 120vh;

}
.box-colums{
      margin: 0px 100px;
      
      
}
/* col-one */
.col-one {
      height: 100vh;
}
.col-one h1{
      margin-top: 200px;
      font-weight: 700;
      font-size: 45px;
}
.col-one h6{
      margin-top: 50px;
      font-weight: 700;
}
/* col-two */
.col-two{
      text-align: center;
      height: 80vh;
      margin: 0;
      padding: 0;    
}
.col-two video{
      margin-top: 50px;
      width: 100%;
      border-radius: 5px;
}
.col-two-buttons{
      margin-top: 20px;
      text-align: center;
}
.btn1{
      width: 50%;
      height: 50px;
      margin: 0 10px 0 0 ;
}
.btn2{
      width: 45%;
      height: 50px;
}
.btn1,
.btn2 {
      background: rgb(2, 0, 36);
      background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(187, 210, 192, 1) 100%);
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 10px;
}

.btn1:hover,
.btn2:hover {
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(187, 210, 192, 1) 100%);
      color: white;
}
/*            box dos metodos               */
.box-method{
       background: rgb(2, 0, 36);
       background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(187, 210, 192, 1) 100%);
      height: 110vh;
      display: block;
}
.box-colums-method{
      margin:0 100px;

      color: white;
}
.col-one-method h1 {
      margin-top: 150px;
      font-weight: 700;
      font-size: 45px;

}
.col-one-method p{
      margin: 20px 0 0 0;
}
.col-two-method{
      margin-top: 100px;
}
/*Box do testimonial*/
.box-testimonial{
      text-align: center;
      padding: 20px;
      height: 120vh;
}
.box-testimonial h1{
      font-size: 48px;
      margin: 80px;
      font-weight: 700;
    
}
.box-testimonial h6{
      text-align: left;
      margin: 10px 0 0 22%; 
}
.box-testimonial h6 svg{
      background: #5a5e72;
      color: white; 
      width: 30px;
      height: 30px;
      border-radius: 50%;     
}
.box-testimonial h6 svg:hover {
      background: #292e49;
}
.box-testimonial p{
      margin: 50px;
}
.testimonial-btn1 {
      height: 60px;
      margin: 0 40px ; 
      width: 300px;
}
.testimonial-btn2{
      height: 60px;
       width: 300px;
}
.testimonial-btn1,
.testimonial-btn2{
      background: rgb(2, 0, 36);
      background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(187, 210, 192, 1) 100%);
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 10px;
}
.testimonial-btn1:hover,
.testimonial-btn2:hover{
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(187, 210, 192, 1) 100%);
      color: white;
}

/*          Footer          */
.container-footer {
      background: #1D1D1D;
      padding: 0 100px;     
}
.footer-logo{
      width: 33.3%;
}
.logo-rodape {
      width: 200px;
}
.footer-edit p{
      text-align: center;
      color: white;
}
.footer-icons{
      color: white;

}
.footer-icons svg{
      background: #5a5e72;
      padding: 10px;
      border-radius: 20px;
      text-decoration: none;
      color: white;


}
.footer-icons svg:hover{
      background: #292e49;
}
 .insta{
      margin: 0 10px;   
}
.footer-autor:hover{
      color: white;
}





@media only screen and (max-width: 1308px){
      .col-one-method h1 {
            font-size: 3vw;
      }
      /*          Box Testimonial       */
      .box-testimonial h6 {
            text-align: left;
            margin: 10px 0 0 15%;
      }
}

@media only screen and (max-width: 1238px) {
      .col-one h1 {

            font-size: 42px;
      }

}
@media only screen and (max-width: 1170px){
      .col-one h1 {
            margin: 0;
            padding: 0;
            width: 100%;
      }
      .col-one h6{
            margin-top: 20px;
      }
}
@media only screen and (max-width: 1170px) {
      /*Estilo do header*/
      .navbar a{
            text-align: center;
            width: 100%;
      }
      .container-fluid {
            
            
      }
      .logo{
            margin: 0;
      }
      /* Box Principal */
      .row{
            display: block;
      }
      
      .br{
            display: none;
      }
      .col-one{
           
            
            height: 100px;
      }
      .col-one h1 {
             margin-top: 50px;
            text-align: center;
            font-size: 3.5vw;
      }
      .col-one h6 {
            text-align: center;
            font-size: 2vw;
      }
      .col-two video {
            margin-top: 50px;
            width: 80%;
            border-radius: 5px;
      }
      .btn1 {
            width: 35%;
            height: 50px;
            margin: 0 10px 0 0;
      }

      .btn2 {
            width: 35%;
            height: 50px;
      }
      /*          text enfase louro       */
    
      .box-louro {
            display: none;   
      }

      /*-------------------------------------------
                Arrumar essa parte ainda
      -------------------------------------------*/



      /*            box dos metodos               */
      .box-method {
            margin-top:  0;
            padding: 0;
            display: block;
            width: 100%;
            height: 120vh;
      }
      .col-one-method h1 {
            padding: 100px 0 0 0;
            font-weight: 700;
            font-size: 3vw;
            text-align: center;
            display: block;
      }
      .col-two-method{
            width: 100%;
            
            text-align: center;
           
      }
     
      .col-two-method img {
            width: 50%;
      }
      .col-two-method {
            margin-top: 0;
      }
      /*          Box Testimonial       */
      .box-testimonial h6 {
            text-align: left;
            margin: 10px 0 0 10%;
      }
      .col-two video{
            margin-top: 50px;
      }
      .box-colums{
            margin: 0 10px;
      }



}
@media only screen and (max-width: 900px){
      /*            box do video                  */
      .col-two video{
            width: 100%;
      }
      .text-button{
          
      }
      .btn1{
            width: 250px;
      }
      .btn2{
            width: 250px;
      }



      /*            box dos metodos               */
       .box-colums {
             margin: 0 50px;
       }
       .box-colums-method {
             height: 100vh;
       }
      .box-method {
            margin-top: 20vw;
      }
      .col-two-method img {
            width: 50%;
      }
      /*          Box Testimonial       */
      .box-testimonial h1 {
            font-size: 30px;
            margin: 50px 0;
      }
      .box-testimonial h6 {
            margin: 40px;
      }
     
}
@media only screen and (max-width: 770px){
      /*          Footer          */
      .container-footer {
            
            padding: 0 10px;

      }
      /*Box do testimonial*/
      .box-testimonial {
            text-align: center;
            padding: 20px;
            height: 120vh;
      }
}
@media only screen and (max-width: 726px){
        /*            box do video                  */
        .col-two video {
              width: 100%;
        }

        .text-button {}

        .btn1 {
              width: 250px;
        }

        .btn2 {
              width: 250px;
        }
            /*          Box Testimonial       */
            .testimonial-btn1 {
                  text-align: center;
                  
            }

            .testimonial-btn2 {
                 margin-top: 30px;
            }
            .box-testimonial{
                  height: 150vh!important;
                  
            }
}
@media only screen and (max-width: 700px) {
.box-colums-method{
      margin: 20px;
}

}
@media only screen and (max-width: 628px) {
      .col-two-buttons{
            
      }
      .btn1 {
            width: 40%;
            height: 50px;
            margin: 0 5px 0 0;
           
      }

      .btn2 {
            width: 40%;
            height: 50px;
      }
      /*            box dos metodos               */
      .box-method {
            margin-top: 10vw;
      }
      .col-one-method h1 {
            margin: 0;
            font-size: 20px;
      }

      /*          Footer          */
      .container-footer {
          
            padding-top: none!important;
            padding-bottom: none!important;
            margin-top: none!important;
            margin-bottom: none!important;
            justify-content: none !important;
            flex-wrap: none!important; 
            width: 100%;
            text-align: center;
      }
      .footer-logo{
            
            width: 100%;
      }
      .footer-autor{
          margin: 20px 0;
            width: 100%;
      }
      .footer-icons{
            display: block;
            width: 100%;
      }
    /*Box do testimonial*/
    .box-testimonial {
          text-align: center;
          padding: 20px;
          height: 130vh;
    }
      
}
@media only screen and (max-width: 554px) {
      .box-start{
            height: 100vh;
    
      }
      .col-one h1 {
            margin-top: 50px;
            text-align: center;
            font-size: 20px;
      }
      .col-one h6 {
            margin: 10px;
            text-align: center;
            font-size: 15px;
      }
      .col-two video {
            margin-top: 10px;
            width: 100%;
            border-radius: 5px;
      }
       .box-method {
             margin-top: 5vw;
       }
}
@media only screen and (max-width: 550px) {
      .col-one h1 {
            margin-top: 50px;
            text-align: center;
            font-size: 20px; 
      }

      .col-one h6 {
            margin: 10px;
            text-align: center;
            font-size: 15px;
      }

      .col-two video {
            margin-top: 10px;
            width: 100%;
            border-radius: 5px;
      }
      .col-two-buttons {
            margin-top: 50px;
            text-align: center;
      }

      .btn1 {
            width: 50%;
            height: 50px;
            margin: 0 10px 0 0;
      }

      .btn2 {
            width: 45%;
            height: 50px;
      }
      .col-two-method img {
            width: 70%;
      }
}
@media only screen and (max-width: 502px){

}
@media only screen and (max-width: 446px) {
            /* Box Principal */
            .box-start {
                  
                  width: 100%;
                  height: 100vh;

            }
            .col-two-buttons {
                  margin-top: 50px;
                  width: 100%;
            }

            .btn1 {
                  width: 80%;
                  height: 50px;
                  margin: 0 0 10px 0;
            }

            .btn2 {
                  width: 80%;
                  height: 50px;
            }
             .col-two-method img {
                   width: 90%;
             }
            /*          box method        */
            .box-method{
                  height: 130vh;
            }
            /*          Box Testimonial       */
            .col-two-method{
                  height: 30vh;
                 
            }
            .testimonial-btn1 {
                  text-align: center;
                  margin: 0;
            }

            .testimonial-btn2 {
                text-align: center;
                margin: 0;
                margin-top: 10px;
            }
}
@media only screen and (max-width: 414px) {
            /* Box Principal */

            .box-start{
                  height: 100vh;
            }
            .box-colums {
                  margin: 0;  
            }
            .box-method {
                  height: 125vh;
            }
            .box-testimonial {
                  height: 100vh;
            }
}
@media only screen and (max-width: 375px){
      /* Box Principal */
      .box-start{
            height: 80vh;
      }

      .box-colums {
            margin: 0;
            


      }
      .box-method {
            height: 100vh;
      }
      .box-testimonial {
            height: 130vh !important;

            
      }
}
@media only screen and (max-width: 334px) {
      .box-testimonial{
            margin: 0;
      }
      .button {
            width: 100%!important;

      }
}
